<launch>
  <node name="cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/>
      <param name="video_device" value="/dev/video0" />
  </node>
  
  <node name="cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/>
      <param name="video_device" value="/dev/video1" />
  </node>
  
</launch>
